experiments/
experiments_carmen/
slurm_out/
experiments_legacy/
TCN_comparison/
allen_dataset/
**/__pycache__/
/__pycache__/
*.out
*.pyc
*.png
*.npy
*.pdf
summaries/
frozen_models/
time_analysis/ROC_curves/*.png
