experiments/
experiments_carmen/
slurm_out/
experiments_legacy/
TCN_comparison/
allen_dataset/
**/__pycache__/
/__pycache__/
*.out
*.pyc
*.png
*.npy
*.pdf
ptxas
summaries/
frozen_models/
studies/
studies_1/
studies_2/
time_analysis/ROC_curves/*.png
*.txt
